streamlit==1.21.0
pandas==1.5.3
numpy>=1.21,<1.25    # Ensures compatibility with other libraries like scikit-learn
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn>=1.1,<1.3  # Version 1.2 is fine, but this range ensures future compatibility
pickle5==0.0.11
requests==2.31.0
beautifulsoup4==4.12.2
googlesearch-python==1.3.0
whois==0.9.9
python-dateutil==2.8.2
