absl-py
altair
annotated-types
asgiref
asttokens
astunparse
attrs
beautifulsoup4
blinker
blis
bs4
cachetools
cairocffi
CairoSVG
catalogue
catboost
category-encoders
certifi
cffi
charset-normalizer
click
cloudpathlib
cloudpickle
colorama
comm
confection
contourpy
cssselect2
cycler
cymem
Cython
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
deprecation
Django
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et-xmlfile
executing
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-pasta
googlesearch-python
graphviz
grpcio
h5py
huggingface-hub
idna
imbalanced-learn
importlib_metadata
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kaleido
keras
kiwisolver
langcodes
language_data
libclang
lightgbm
llvmlite
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mpmath
murmurhash
namex
narwhals
nbformat
nest-asyncio
networkx
nltk
numba
numpy
openpyxl
opt_einsum
optree
orjson
packaging
pandas
parso
patsy
pillow
platformdirs
plotly
plotly-resampler
pmdarima
preshed
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pycaret
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyod
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
pytz
PyYAML
pyzmq
referencing
regex
requests
retrying
rich
rpds-py
safetensors
schemdraw
scikit-base
scikit-learn
scikit-plot
scipy
seaborn
shap
shellingham
six
sktime
slicer
smart-open
smmap
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
statsmodels
streamlit
sympy
tbats
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tinycss2
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
tsdownsample
typer
typing_extensions
tzdata
urllib3
wasabi
watchdog
wcwidth
weasel
webencodings
Werkzeug
whois
widgetsnbextension
wrapt
xgboost
xxhash
yellowbrick
zipp
